h1 Vocabulary
ul
	li 風速 :&nbsp;
		span=t('ac-remote.wind-speed')
	li 自動:&nbsp;
		span=t('ac-remote.auto')	
	li 強風:&nbsp;
		span=t('ac-remote.high')	
	li 弱風:&nbsp;
		span=t('ac-remote.low')	
	li 微風:&nbsp;
		span=t('ac-remote.very-low')	
	li 冷房:&nbsp;
		span=t('ac-remote.AC')	
	li 除湿:&nbsp;
		span=t('ac-remote.dehumidifier')	
	li 送風:&nbsp;
		span=t('ac-remote.fan')	
	li 暖房:&nbsp;
		span=t('ac-remote.heater')	
	li 風量設定:&nbsp;
		span=t('ac-remote.wind-power-setting')	
	li 運転切換:&nbsp;
		span=t('ac-remote.mode-change')	
	li タイマー時間:&nbsp;
		span=t('ac-remote.on-off-timer-setting')	
	li 温度設定:&nbsp;
		span=t('ac-remote.temperature-setting')	
	li 風向:&nbsp;
		span=t('ac-remote.wind-direction')	
	li 空気清浄:&nbsp;
		span=t('ac-remote.air-cleaner')	
	li スイング:&nbsp;
		span=t('ac-remote.flap-swing')	
	li リセット:&nbsp;
		span=t('ac-remote.reset')			
	li 運転/停止:&nbsp;
		span=t('ac-remote.on-off')